/* ================================
   TELA INICIAL
   ================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Gabarito', sans-serif;
    background-color: #f6f6f6;
    
}

.tela-inicial {
    position: relative;
    width: 100%;
    min-width: 1280px;
    height: 1080px;
    background-color: #f6f6f6;
}

/* Barra Superior */
.barra-superior {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 173px;
    background-color: #00659f;
    
}

/* Logo UFVJM */
.logo-ufvjm {
    position: absolute;
    left: 60px;
    top: 63px;
    width: 259px;
    height: 48px;
}

.logo-ufvjm img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Navegação */
nav {
    position: absolute;
    top: 64px;
    display: flex;
    gap: 0;
}

.nav-link {
    position: absolute;
    top: 0;
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link:nth-child(1) {
    left: 424px;
}

.nav-link:nth-child(2) {
    left: 600px;
}

.nav-link:nth-child(3) {
    left: 833px;
}

/* Botões de Acesso */
.botoes-acesso {
    position: absolute;
    right: 17px;
    top: 10px;
}

.botao-login,
.botao-cadastro {
    position: absolute;
    right: 0;
    width: 207px;
    height: 62px;
    background-color: #9fd960;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;
}

/* botão descer e mudar de cor quando passa o mouse em cima */
.botao-cadastro:hover,
.botao-login:hover {
    background: #4c8f08;
    transform: translateY(3px);        
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.botao-login {
    top: 0;
    box-shadow: 6px 8px 2.5px 0px rgba(0,0,0,0.25);
}

.botao-cadastro {
    top: 77px;
    box-shadow: 8px 8px 2.6px 0px rgba(0,0,0,0.25);
}

.botao-login span {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 4px rgba(0,0,0,0.25);
}

.botao-cadastro span {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

/* Main Content */
main {
    position: relative;
}

/* Slideshow Container */
.slideshow-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 293px;
    width: 877px;
    height: 493px;
    border: 6px solid #00659f;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto DECOM - UFVJM */
.decom-ufvjm-text {
    position: absolute;
    left: 50%;
    margin-left: -411px;
    top: 315px;
    width: 242px;
    height: 34px;
    font-family: 'Gabarito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: black;
    opacity: 0.7;
}

/* Setas de Navegação */
.prev,
.next {
    position: absolute;
    top: 516px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0.3;
    font-size: 48px;
    color: rgba(30, 30, 30, 1);
    user-select: none;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -490px;
}

.next {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 490px;
}

.prev:hover,
.next:hover {
    opacity: 1;
}

/* Dots Container */
.dots-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 752px;
    display: flex;
    gap: 8px;
}

.dot {
    width: 13px;
    height: 13px;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #00659f;
}

.dot:hover {
    background-color: #00659f;
}

/* Botão Principal */
.botao-principal {
    position: absolute;
    left: 50%;
    top: 886px;
    width: 543px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: #00659f;
    border-radius: 20px;
    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;
    box-shadow: 6px 8px 2.5px 0px rgba(0,0,0,0.25);
}

.botao-principal:hover {
    background: #004a73;
    transform: translateX(-50%) translateY(3px);
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.botao-principal span {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

/* ================================
   TELA DE LOGIN E CADASTRO
   ================================ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
}

.topbar {
    background: #006da8;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo img {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 1px;
    font-weight: bold;
    font-size: 22px;
}

.topbar-nav {
    display:flex;
    gap: 40px;
    font-size: 16px;
}

.topbar-nav a {
  position: relative;
  padding-bottom: 3px;
}

.topbar-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #8ad23a;
  transition: width 0.2s;
}

.topbar-nav a:hover::after {
  width: 100%;
}

.btn {
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s, background 0.1s;
    display: inline-block;
}

.btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.btn-cadastro {
    background: #8ad23a;
    color: #fff;
    box-shadow: 0 2px 0 #5b9a13;
}

.btn-cadastro:hover {
    background: #7ac329;
}

.btn-login {
    background: #8ad23a;
    color: #fff;
    box-shadow: 0 2px 0 #5b9a13;
}

.btn-login:hover {
    background: #7ac329;
}

.main {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 173px);
    margin-top: 173px;
}

.secao-principal {
    display: none;
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

#login {
    display: block;
}

.secao-principal:target {
    display: block;
}

.bloco-autenticacao {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.autenticacao {
    background: #0066a0;
    width: 350px;
    height: 390px;
    border-radius: 6px;
    padding: 25px 25px 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    color: #fff;
}

.autenticacao h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.autenticacao label {
    display: block;
    font-size: 11px;
    margin-bottom: 4px;
}

.autenticacao input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: none;
    margin-bottom: 12px;
    font-size: 13px;
}

.autenticacao .btn-submit {
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .topbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 20px;
        gap: 10px;
    }

    .topbar-nav {
        order: 3;
        width: 100%;
        justify-content: center;
    }

    .bloco-autenticacao {
        gap: 20px;
        height: 20px;
        width: auto;
    }
}

/* ================================
   TELA SOBRE
   ================================ */

.secao-sobre {
    background: #f4f4f4;
    padding: 60px 0 80px;
    display: flex;
    justify-content: center;
}

/* texto da seção */
.conteudo-sobre {
    max-width: 900px;
    width: 100%;
    margin: 0 40px;
}

.conteudo-sobre h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.conteudo-sobre p {
    font-size: 20px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 18px;
}

/* Rodapé */
.rodape {
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 40px;
    font-size: 14px;
}

.rodape-titulo {
    margin-bottom: 10px;
    font-weight: 700;
}

.rodape-contato ul{
    list-style: none;
}

.rodape-contato li {
    margin-bottom: 4px;
}

.rodape-logo img {
    height: 110px;
    width: auto;
}

.rede-social {
    height: 40px;
    width: auto;
    display: flex;             
    align-items: center;        
    gap: 10px;                  
    margin-bottom: 10px;
}


.rede-social img{
    height: 35px;
    width: 35px;
}

/* ================================
   TELA DE PERFIL DO USUÁRIO
   ================================ */

/* Icone do usuário na barra de navegação */

.perfil-header-avatar {
    position: absolute;
    top: 50px;
    right: 40px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
}

.perfil-header-avatar img {
    width: 70px;
    height: 70px;
}

.perfil-header-nome {
    font-size: 14px;
    font-weight: 400;
}

.perfil-layout {
    display: flex;
    width: 150%;
    background: #ffffff;
    overflow: hidden;
    max-height: 900px;
    margin-top: 173px;
    
}

/* Informações do usuário (a esquerda na tela de perfil) */
.barra-perfil-lateral {
    width: 340px;

    background: #9fd960;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.capa-perfil {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.capa-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Local da foto do usuário */
.avatar-perfil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #f5f0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    border: 6px solid #f6f6f6;
    position: absolute;
    top: 150px;
}

.perfil-avatar-icone {
    line-height: 1;
}

/* Nome e informações pessoais de cada usuário */
.perfil-info {
    margin-top: 190px;
    text-align: center;
    padding: 0 20px;
    color: #004000;
    font-family: 'Gabarito', sans-serif;
}

.perfil-nome {
    font-size: 32px;
    font-weight: 700;
    color: #0071bd;
    margin-bottom: 4px;
}

.perfil-cargo {
    font-size: 18px;
    margin-bottom: 8px;
}

.perfil-email,
.perfil-matricula {
    font-size: 16px;
    margin-bottom: 4px;
}

/* botão para sair do usuário atual */
.btn-sair-perfil {
 margin-top: 30px;
    margin-bottom: 30px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: #00659f;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Gabarito', sans-serif;
    cursor: pointer;
    box-shadow: 4px 6px 0 rgba(0,0,0,0.25);
    transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease;
}

.btn-sair-perfil:hover {
    background: #004a73;
    transform: translateY(3px);
    box-shadow: 0 2px p rgba(0,0,0,0.2);
}

/* Coluna da direita com a tabela e email dos professores */
.perfil-bloco + .perfil-bloco {
    margin-top: 40px;
}

.perfil-conteudo {
    flex: 1;
    background: #f6f6f6;
    padding: 30px 40px;
    font-family: 'Gabarito', sans-serif;
}

.perfil-titulo {
    font-size: 24px;
    margin-bottom: 16px;
}

/* tabela com horários */
.perfil-tabela {
    background: #ffffff;
    border: 3px solid #00659f;
    border-radius: 4px;
    overflow: hidden;
}

.tabela-horarios {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.tabela-horarios th,
.tabela-horarios td {
    border: 1px solid #c8c8c8;
    padding: 8px 10px;
    text-align: left;
    vertical-align: top;
}

.tabela-horarios th {
    background: #f2f2f2;
    font-weight: 700;
}

.prof-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 10px;
}

.prof-card {
    text-align: center;
    font-size: 14px;
}

.prof-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e9ddff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto 6px;
}

.prof-avatar img {
    height: 80px;
    width: 80px;
}

.prof-email {
    font-size: 13px;
}

@media (max-width: 900px) {
    .perfil-layout {
        flex-direction: column;
        max-width: 100%;
    }

    .barra-perfil-lateral {
        width: 100%;
        align-items: center;
    }

    .perfil-conteudo {
        padding: 20px;
    }
}

/* ================================
   TELA EVENTOS
   ================================ */

.eventos-container {
    max-height: 900px;
    margin-top: 173px;
    padding: 40px 20px 60px;
}

.evento-titulo {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}

.evento-busca {
    display: flex;
    align-items: center;
    max-width: 290px;
    margin: 0 auto 50px;

    background: rgba(214, 183, 255, 0.25);
    border-radius: 999px;
    padding: 8px 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

.evento-busca-menu,
.evento-busca-icone {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventos-busca input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    padding: 0 8px;
}



/* Bloco da página de eventos da UFVJM(iframe) */
.eventos-secao {
    margin-top: 50px;
}

.eventos-secao h2 {
    font-size: 22px;
    margin-bottom: 14px;
}

/* Caixa com scroll próprio */
.caixa-eventos{
    border: 2px solid #00659f;
    border-radius: 8px;
    overflow: hidden;
    max-height: 450px;
}

.caixa-eventos iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.evetos-secao-aviso {
    font-size: 12px;
    margin-top: 6px;
    opacity: 0.7;
}

.evento-busca-menu img {
    width: 40px;
}

.evento-busca-icone img {
    width: 40px;
}

.barra-pesquisa {
    padding: 8px 10px;
    background-color: rgba(214, 183, 255, 0.1);
    border: 0px solid rgba(214, 183, 255, 0.1);
    border-radius: 5px 0 0 5px;
}


/* ================================
   Mapa Interativo
   ================================ */

.barra-esquerda {
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 150px;
    background: #0b4f82;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 8px;
    gap: 24px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.sidebar-btn {
    width: 64px;
    border: none;
    background: transparent;
    color: #e5e7eb;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 11px;
}

.logo-icones img {
    width: 75px;
    margin-top: 30px;
    margin-bottom: 200px;
}

.icone img {
    width: 50px;
    gap: 100px;
}

.sidebar-btn:hover {
    background: rgba(15,23,42,0.25);
}

.topbar {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 20px;
    background: transparent;
    backdrop-filter: none;
    
}

/* Barra de Busca do Mapa */
.bara-busca-mapa {
    flex: 1;
    padding: 10px 10px;
    display: flex;
    background: #f9fafb;
    border-radius: 999px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
}

.bara-busca-mapa input {
    flex: 1;
    border: none;
    background: #f9fafb;
    padding: 10px 10px;
    font-size: 14px;
    outline: none;
}

.btn-busca {
    border: none;
    background: none;
    padding: 0 12px;
    cursor: pointer;
    font-size: 16px;
}

.btn-busca img {
    width: 40px;
}

/* Filtro de locais */
.filtro-grupos {
    display: flex;
    gap: 8px;
}

.filtro-btn:hover {
    background: #0f766e;
    color: #f9fafb;
    border-color: #0f766e;
}

.filtro-btn {
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  padding: 6px 12px;
  font-size: 13px;
  background: #f9fafb;
  cursor: pointer;
}

.map-class {
    flex: 1;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

.user-btnx img {
    width: 50px;
}

/*botões de Login e Cadastro do Mapa */
.botao-cadastrox,
.botao-loginx {
    border-radius: 4px;
    padding: 6px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s, background 0.1s;
    display: inline-block;

    background: #8ad23a;
    color: #fff;
    box-shadow: 0 2px 0 #5b9a13;
}

.botao-cadastrox:hover,
.botao-loginx:hover {
     background: #7ac329;
}




